@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(img/banner-principal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
}

header .titulo {
  font-size: 40px;
}

header .subtitulo-uno,
.subtitulo-dos {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitulo-dos {
  margin-bottom: 30px;
}

header img {
  filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
  padding: 15px;
  border-radius: 25px;
  margin-top: 20px;
}

.boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #ffff;
  color: #ffff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}

.sesgo-abajo {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #ffff transparent;
}

.sesgo-arriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}

.carrera-titulo {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 800;
  height: auto;
}

.carrera-subtitulo {
  font-size: 24px;
  margin-bottom: 24px;
}

.carrera-parrafo {
  margin-bottom: 13px;
  font-weight: 400;
  text-align: justify;
  line-height: 32px;
  color: rgb(24, 16, 16);
}

.galeria {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animacion {
  opacity: 0;
  transition: all 0.8s;
}

.animacion-subir {
    animation: mostrar-animacion-subir 1s;
}

@keyframes mostrar-animacion-subir {
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0);
    }
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(img/footer.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #ffff;
  text-align: center;
}


footer .titulo {
  font-size: 40px;
}

footer .subtitulo-uno,
.subtitulo-dos {
margin-top: 400px;
  font-size: 32px;
  margin-bottom: 5px;
}